<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tiso Studio Payment Process Automation">

	<test name="Place Order By Cod">
		<classes>
			<class name="com.tiso.place.order.cod.PlaceOrderByCOD"></class>

		</classes>
	</test>


</suite> <!-- Suite -->
